* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
body {
  background: linear-gradient(to right, #0f0f0f, #1c1c1c);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background: linear-gradient(to bottom, #2e2e2e, #4c4c4c);
  padding: 20px;
  border-radius: 16px;
  border: 2px solid #555;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: fit-content;
}
.row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.input {
  width: 100%;
  padding: 20px;
  font-size: 2.5rem;
  text-align: right;
  background-color: transparent;
  border: none;
  color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  outline: none;
}
.btn {
  flex: 1;
  padding: 20px;
  border-radius: 12px;
  font-size: 1.5rem;
  color: #fff;
  background: linear-gradient(to bottom, #5c5c5c, #3f3f3f);
  border: none;
  outline: none;
  box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.6), 0 2px 6px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: transform 0.1s ease;
}
.btn:hover {
  transform: scale(1.03);
}
.btn:active {
  transform: scale(0.98);
}
.col {
  background-color: #ff7a00;
  background: linear-gradient(to bottom, #ff9d3f, #ff6a00);
  color: white;
  font-weight: 600;
}
.col:hover {
  filter: brightness(1.1);
}

.col:active {
  filter: brightness(0.9);
}
